
html {
  font-size: 62.5%;
}

body {
  font-size: 1.7rem;
}

.mw {
  max-width: 144rem;
  width: calc(100% - 2.4rem);
  margin: 0 auto;
}

.header {
    display: flex;
    height: 9.7rem;
    justify-content: space-between;   
    padding: 2.8rem 6.8rem 3.2rem; 
    font-weight: 600;
    box-shadow: 0 4px 13px 2px rgba(0,0,0,0.1); 
    font-family: var(Pretendard);

}
/* 로그인 전 */
.logout {
    /* display: none; */
    display: flex;
}
.header nav {
    font-family: var(Pretendard);
    display: flex;
    gap: 3.9rem;
    align-items: center;
}
.logoutDiv {
    margin-left: 5.6rem;
    font-size: 1.7rem;
}
.logoutDiv button {
    font-size: 1.6rem;
    margin-left: 3.6rem;
    padding: 1rem 2rem;
    border: 2px solid var(--cr-b1);
    background-color: var(--cr-m-y);
    border-radius: 0.4rem;
}
/* 로그인 후 */
.login {
    /* display: none; */
    display: flex;
}
.header nav {
    font-family: var(Pretendard);
    display: flex;
    gap: 3.9rem;
    align-items: center;
}
.loginDiv {
    display: flex;
    align-items: center;
    margin-left: 5.6rem;
    gap: 2rem;
}
.loginDiv a {
    position: relative;
    font-size: 1.7rem;
}
.loginDiv button {
    width: 3.7rem;
    height: 3.7rem;
    border: 2px solid var(--cr-b1);
    background-color: var(--cr-m-y);
    border-radius: 100rem;
}
.login span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 100rem;
    background-color: var( --cr-red);
}
