.lnb nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lnb nav a {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.76;
  color: var(--cr-g1);
  transition: 0.3s;
}

.lnb nav a.on,
.lnb nav a:hover {
  color: var(--cr-b1);
  text-decoration: underline;
  text-decoration-color: var(--cr-m-y);
  text-decoration-thickness: 5px;
  text-underline-offset: -0.5px;
}

.filter {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.filter strong {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1.7rem;
  color: var(--cr-b1);
  font-weight: 700;
  cursor: pointer;
  padding: 1.4rem 0;
  border-bottom: 1px solid var(--cr-line);
  position: relative;
}

.filter strong::before {
  content: "";
  width: 4px;
  height: 4px;
  background: var(--cr-bl1);
  display: block;
  margin-right: 0.6rem;
}
.filter strong::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.1rem;
  transform: translateY(-50%) rotate(0);
  transition: 0.3s;
}
.filter.on strong::after {
  transform: translateY(-50%) rotate(180deg);
}
.filter > div {
  display: flex;
  flex-wrap: wrap;
  margin: 1.4rem 0;
  gap: 0.8rem 0.6rem;
}
.filter > div > button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  height: 3.2rem;
  padding: 0 1.8rem;
  font-size: 1.5rem;
  border-radius: 50rem;
  transition: 0.3s;
}
.filter > div > button.active {
  border-color: var(--cr-bl1);
  background: var(--cr-m-y);
  color: var(--cr-bl1);
  box-shadow: inset 0px 0px 0px 0.5px var(--cr-bl1);
  font-weight: 500;
}
.filter > div > button:hover {
  border-color: var(--cr-bl1);
  color: var(--cr-bl1);
}
