.lnb {
  width: 24rem;
}

.lnb h2 > span {
  display: block;
  font-size: 2.8rem;
  opacity: 0.4;
  line-height: 128%;
}

@media (max-width: 990px) {
  .lnb {
    width: 100%;
  }
  .lnb h2 {
    text-align: center;
  }
}
