.links {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  color: var(--cr-g1);
  margin-top: 20px;
}

.greenBtn {
  width: 10rem;
  height: 4.2rem;
  line-height: 4.2rem;
  background: var(--cr-m-g);
  color: white;
}

.yellowBtn {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  background: var(--cr-m-y);
}
